{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Select chart</title>

  <!-- Custom fonts for this template-->
  <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container-fluid">
    <div class="mx-auto mt-5 select-chart-student">
      <div class="col-1 col-white">
            <button class="btn img-cog">
                <img src="/static/img/cog.png" alt="" class="img-fluid">    
            </button>
            <button class="btn img-logout">  
                <img src="/static/img/logout.png" alt="" class="img-fluid">   
            </button>
      </div>
      <div class="col-11 col-grey">
        <div class="select-chart-title">
        </div>
        <div class="charts">
            <img src="/static/img/chart-1.png" alt="" class="img-fluid img-chart">
            <img src="/static/img/chart-2.png" alt="" class="img-fluid img-chart">
            <img src="/static/img/chart-3.png" alt="" class="img-fluid img-chart">
            <img src="/static/img/chart-4.png" alt="" class="img-fluid img-chart">
            <img src="/static/img/chart-5.png" alt="" class="img-fluid img-chart">
        </div>
        <div class="div-button-save">
            <div class="card-button-select-chart"><button type="button" class="btn btn-primary button-select-chart">Save</button></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

</body>

</html>
